<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>新用户注册 - 草莓 社区</title>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bulma.min.css" rel="stylesheet"/>
    <link href="/plugins/noty/noty.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/roo.css?v=0.0.1"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/roo.js?v=0.0.1"></script>

</head>
<body>
<div class="header">
    <nav class="navbar container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" alt="Roo 简洁的"
                     width="112" height="28">
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
              <span class="icon" style="color: #333;">
                <i class="fa fa-github"></i>
              </span>
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
              <span class="icon" style="color: #55acee;">
                <i class="fa fa-twitter"></i>
              </span>
            </a>

            <div class="navbar-burger burger" data-target="navMenuExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item " href="/topics">
                    <span class="emoji">🦌&nbsp;</span>
                    社区
                </a>
                <a class="navbar-item " href="/news">
                    <span class="emoji">🤛&nbsp;</span>
                    头条
                </a>
                <a class="navbar-item " href="/go/jobs">
                    <span class="emoji">💁&nbsp;</span>
                    招聘
                </a>
                <a class="navbar-item " href="/wiki">
                    <span class="emoji">🎨&nbsp;</span>
                    Wiki
                </a>
                <a class="navbar-item " href="/sites">
                    <span class="emoji">❤️&nbsp;</span>
                    酷站
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item search-bar">
                    <form id="search-form">
                        <div class="control has-icons-left">
                            <input class="input" placeholder="搜索本站内容">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <a class="navbar-item is-hidden-desktop-only" href="/signup">
                    注册
                </a>
                <a class="navbar-item is-hidden-desktop-only" href="/signin">
                    登录
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-6">
            <div class="message is-light">
                <div class="message-header">注册新用户</div>
                <div class="message-body">
                    <form id="signup-form" method="post">
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input id="nickName" name="nickName" class="input" type="text" placeholder="昵称"/>
                                <span class="icon is-small is-left">
                              <i class="fa fa-user"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input id="username" name="username" class="input" type="text" placeholder="用户名"/>
                                <span class="icon is-small is-left">
                              <i class="fa fa-user"></i>
                            </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input id="email" name="email" class="input" type="text" placeholder="请输入邮箱"/>
                                <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>
                            </div>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                             <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                                <input id="password" name="password" class="input" type="password" placeholder="请输入密码"/>
                                <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                                <input id="rePassword" name="rePassword" class="input" type="password"
                                       placeholder="确认密码"/>
                                <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                                <input id="vcode" name="vcode" class="input" type="text" placeholder="验证码"
                                       style="width:77%"/>
                                <image id="image_captcha" style="height:35px;CURSOR: hand"
                                       onclick="getCaptcha()"></image>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control">
                                <button id="signup-btn" class="button is-success" type="button"
                                        style="display:block;margin:0 auto" onclick="commit()">注册
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-3"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="/about">关于我们</a> |
                    <a href="/contact">联系我们</a> |
                    <a href="/faq">常见问题</a>
                </p>
                <p>
                    <strong>Roo</strong> by <a href="https://github.com/biezhi">biezhi</a> | Copyright © 2017 | 当前版本
                    <span class="tag is-info">0.0.1</span>
                </p>
                <p>
                    <a class="icon" target="_blank" href="https://github.com/junicorn/roo">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a class="icon has-text-info" target="_blank" href="https://github.com/junicorn/roo">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a class="icon has-text-danger" target="_blank" href="https://github.com/junicorn/roo">
                        <i class="fa fa-rss fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="/plugins/noty/noty.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.validation/additional-methods.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.validation/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="/js/StringUtils.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getCaptcha();
    });

    function commit() {

        var captcha = $("#vcode").val().trim();
        if (StringUtils.isEmpty(captcha)) {
            $("#vcode").css("input error")
            $("#vcode").parent().after('<label id="vcode-error" class="error" for="vcode">请输入验证码</label>')
        }
        var jsonStr = JSON.stringify($("#signup-form").serializeObject());  //json字符串
        var split = $("#image_captcha").prop("src").split("token=");
        $.ajax({
            type: "POST",
            url: "/back/member/signup?time=" + new Date().getTime()+"&token="+split[1]+"&captchaCode="+$("#vcode").val(),
            contentType: "application/json; charset=utf-8",
            data: jsonStr,
            dataType: "json",
            success: function (res) {
                alert(res.message);
                if (res.code == "-1024") {
                    getCaptcha();
                }else{
                    window.location.href =res.data.href;
                }

            },
            error: function (res) {
                getCaptcha();
            }
        });

    }

    function getCaptcha() {

        $.get("/v0.1/communal/uid?time=" + new Date().getTime(), function (res) {
            if (res.code === 0) {
                $("#image_captcha").attr("src", "/v0.1/captcha?token=" + res.data);
            }
        });
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

</script>
</body>
</html>