<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.withmes.ct.forum.topic.mapper.HistoryNowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.withmes.ct.forum.common.entity.domain.HistoryNow">
        <id column="id" property="id" />
        <result column="href" property="href" />
        <result column="imageUrl" property="imageUrl" />
        <result column="imageTitle" property="imageTitle" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, href AS href, image_url AS imageUrl, image_title AS imageTitle, create_time AS createTime
    </sql>

    <select id="findHistoryNow" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from `history_now`
        where DATE_FORMAT(create_time,'%Y-%m-%d') =#{time}
    </select>

</mapper>
